@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --persian-blue-circle: hsla(241, 72%, 46%, 0);
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);
    --light-white: rgba(255, 255, 255, 0.7);
    --lighter-white: rgba(255, 255, 255, 0.3);
    --light-red: hsl(0, 100%, 67%, 0.08);
    --orangey-yellow: hsl(39, 100%, 56%);
    --light-orangey-yellow: hsl(39, 100%, 56%, 0.08);
    --green-teal: hsl(166, 100%, 37%);
    --light-green-teal: hsl(166, 100%, 37%, 0.08);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-cobalt-blue: hsl(234, 85%, 45%, 0.08);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --pale-blue: hsl(221, 100%, 96%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

/* Utils */
.text-primary-color {
    color: #fff;
}

.text-secondary-color {
    color: var(--light-white);
}

@media only screen and (min-width: 1440px) {
    body {
        background-color: var(--pale-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        height: 100svh;
    }

    main {
        display: flex;
        width: 73.6rem;
        background-color: #fff;
        border-radius: 10%;
    }
}

/* results */
.results {
    background: linear-gradient(to bottom left, var(--light-slate-blue), var(--light-royal-blue));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem 6rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

@media only screen and (min-width: 1440px) {
    .results {
        width: 50%;
        border-radius: 10%;
    }
}

.results h1 {
    font-size: 2.5rem;
}

.results .scores {
    background: linear-gradient(to bottom, var(--violet-blue-circle), var(--persian-blue-circle));
    display: inline-block;
    padding: 3rem 5rem;
    border-radius: 50%;
}

.results #scores-average {
    font-size: 7rem;
    font-weight: 800;
}

.results #scores-average+p {
    color: var(--lighter-white);
    font-weight: 700;
    font-size: 2rem;
}

.remarks h2 {
    font-size: 3rem;
    font-weight: 800;
}

.remarks p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media only screen and (min-width: 1440px) {
    .results .scores {
        padding: 5rem 7rem;
    }

    .results .remarks {
        margin-top: 2rem;
    }
}

/* summary */
.summary {
    padding: 3rem;
}

@media only screen and (min-width: 1440px) {
    .summary {
        width: 50%;
    }
}

.summary h3 {
    font-size: 2.2rem;
    color: var(--dark-gray-blue);
}

.summary ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.summary ul li:first-child {
    margin-top: 3rem;
}

.summary li:first-child {
    background-color: var(--light-red);
}

.summary li:nth-child(2) {
    background-color: var(--light-orangey-yellow);
}

.summary li:nth-child(3) {
    background-color: var(--light-green-teal)
}

.summary li:last-child {
    background-color: var(--light-cobalt-blue);
}

.summary .reaction {
    color: var(--primary-light-red)
}

.summary .memory {
    color: var(--orangey-yellow);
}

.summary .verbal {
    color: var(--green-teal);
}

.summary .visual {
    color: var(--cobalt-blue);
}

.summary li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 1.6rem;
    border-radius: 2rem;
}

.summary li div {
    display: flex;
    gap: 1.2rem;
}

.summary li img {
    width: 2.5rem;
}

.summary .btn {
    background: linear-gradient(var(--dark-gray-blue), var(--dark-gray-blue));
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-top: 2.4rem;
    padding-top: 1.7rem;
    padding-bottom: 1.6rem;
    border-radius: 5rem;
    position: relative;
    z-index: 1;
}

.summary .btn::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 5rem;
    transition: all 1000ms;
    z-index: -1;
}

.summary a.btn:hover::after {
    opacity: 1;
}

@media only screen and (min-width: 1440px) {
    .summary .btn {
        margin-top: 5rem;
    }
}

.summary .rating {
    font-weight: 800;
}

.summary .rating .score {
    color: var(--dark-gray-blue);
}

.summary .rating span {
    color: rgba(0, 0, 0, 0.4);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
